<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Care Call Report</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/common.css" />
  </head>
  <body>
    <nav>
      <h1>Fairdesk</h1>
    </nav>
    <div class="contain">
      <!-- Navigation bar -->
      <div class="side-nav">
        <div title="Expand" class="nav-items nav-toggle">
          <i class="fa-solid fa-bars" style="color: #ffffff"></i>
          <p class="nav-items-para">Navigation</p>
        </div>        
        <div title="Client Data" class="nav-items" onclick="window.location.href = '/fairdesk/form/client'">
          <i class="fa-solid fa-user" style="color: #ffffff"></i>
          <p class="nav-items-para">Client Data</p>
        </div>

        <div class="nav-opt-wrap">
        <div title="Datasheet" class="datasheet-toggle nav-items">
          <i class="fa-solid fa-square-caret-down" style="color: #ffffff;"></i>
          <p class="nav-items-para">Datasheet</p>
        </div>

        <div class="nav-labels-opt">
          <div title="Labels" class="nav-items" onclick="window.location.href = '/fairdesk/form/labels'">
            <i class="fa-solid fa-address-card" style="color: #ffffff"></i>
            <p class="nav-items-para">Labels</p>
          </div>       
          <div title="TTR" class="nav-items" onclick="window.location.href = '/fairdesk/form/ttr'">
            <i class="fa-solid fa-ribbon" style="color: #ffffff"></i>
            <p class="nav-items-para">TTR</p>
          </div>
          <div title="Tape" class="nav-items" onclick="window.location.href = '/fairdesk/form/tape'">
            <i class="fa-solid fa-tape" style="color: #ffffff;"></i>
            <p class="nav-items-para">Tape</p>
          </div>  
        </div>          
        </div>
        
        <div class="nav-opt-wrap">
        <div title="Care" class="care-toggle nav-items">
          <i class="fa-solid fa-circle-chevron-down" style="color: #ffffff;"></i>
          <p class="nav-items-para">Care</p>
        </div>

        <div class="nav-care-opt">
        <div title="System ID" class="nav-items" onclick="window.location.href = '/fairdesk/form/systemid'">
          <i class="fa-solid fa-id-badge" style="color: #ffffff;"></i>
          <p class="nav-items-para">System ID</p>
        </div> 
        <div title="Care Call Report" class="nav-items" onclick="window.location.href = '/fairdesk/form/carecallreport'" >
          <i class="fa-solid fa-file" style="color: #ffffff"></i>
          <p class="nav-items-para">Call Report</p>
        </div>
        <div title="Care Workshop Report" class="nav-items" onclick="window.location.href = '/fairdesk/form/careworkshopreport'">
          <i class="fa-solid fa-shop" style="color: #ffffff;"></i>
          <p class="nav-items-para">Workshop Report</p>
        </div>
        <div title="Carelead" class="nav-items active" onclick="window.location.href = '/fairdesk/form/carelead'">
          <i class="fa-solid fa-notes-medical" style="color: #ffffff"></i>
          <p class="nav-items-para">Lead</p>
        </div>           
        <div title="Care Quote" class="nav-items" onclick="window.location.href = '/fairdesk/form/carequote'">
          <i class="fa-solid fa-quote-left" style="color: #ffffff;"></i>
          <p class="nav-items-para">Quote</p>
        </div>           
        </div>             
        </div>
        <div title="Rate Calculator" class="nav-items" onclick="window.location.href = '/fairdesk/form/ratecalculator'">
          <i class="fa-solid fa-calculator" style="color: #ffffff"></i>
          <p class="nav-items-para">Rate Calculator</p>
        </div>

        <div class="nav-opt-wrap">
        <div title="Rate Calculator" class="calc-toggle nav-items">
          <i class="fa-solid fa-square-caret-down" style="color: #ffffff;"></i>
          <p class="nav-items-para">Rate Calculator</p>
        </div>

        <div class="nav-calc-opt">
          <div title="Sales Calculator" class="nav-items" onclick="window.location.href = '/fairdesk/form/salescalc'">
            <i class="fa-solid fa-money-bill-transfer" style="color: #ffffff;"></i>
            <p class="nav-items-para">Sales Calculator</p>
          </div>       
          <div title="Production Calculator" class="nav-items" onclick="window.location.href = '/fairdesk/form/prodcalc'">
            <i class="fa-solid fa-industry" style="color: #ffffff;"></i>
            <p class="nav-items-para">Production Calculator</p>
          </div>
        </div>            
        </div>
      </div>

      <!-- The main content -->
      <div class="main-content">
        <form action="/fairdesk/form/careCallReport" method="post">
          <div class="span-full form-heading">
            <h1>Care Lead</h1>
          </div>          
          <div class="span-full form-subheading">
            <h1>basic Information</h1>
          </div>
          <div class="span-dual">
            <label for="log-no">Log no</label>
            <input type="text" id="log-no" class="form-control" name="logNo" placeholder="Enter log no" required />
          </div>            
          <div class="span-dual">
            <label for="carelead-log-date">Log date</label>
            <input type="date" id="carelead-log-date" class="form-control" name="careDate" placeholder="Enter date" required />
          </div>
          <div class="span-dual">
            <label for="carelead-q-sent-date">Q" sent date</label>
            <input type="date" id="carelead-q-sent-date" class="form-control" name="qSentDate" placeholder='Enter q" sent date' required />
          </div>
          <div class="span-dual">
            <label for="carelead-date-closure">Date closure</label>
            <input type="date" id="carelead-date-closure" class="form-control" name="dateClosure" placeholder='Enter date closure' required />
          </div>
          <div class="span-full form-subheading">
            <h1>Client & User Details</h1>
          </div>
          <div class="span-dual">
            <label for="care-call-client">Client name</label>
            <input type="text" id="care-call-client" class="form-control" name="careClient" placeholder="Enter client name" required />
          </div>
          <div class="span-dual">
            <label for="care-user-name">User name</label>
            <input type="text" id="care-user-name" class="form-control" name="careUserName" placeholder="Enter User Name" required />
          </div>
          <div class="span-dual">
            <label for="care-contact-no">Contact no</label>
            <input type="number" id="care-contact-no" class="form-control" name="careContactNo" placeholder="Enter contact no" required />
          </div>
          <div class="span-dual">
            <label for="care-location">Location</label>
            <input type="text" id="care-location" class="form-control" name="careLocation" placeholder="Enter Location" required />
          </div>
          <div class="span-full form-subheading">
            <h1>Product & Requirement Info</h1>
          </div>
          <div class="span-six">
            <label for="care-requirment">Requirment</label>
            <input type="text" id="care-requirment" class="form-control" name="careRequirment" placeholder="Enter requirment" required />
          </div>
          <div class="span-six">
            <label for="care-make">Make</label>
            <input type="text" id="care-make" class="form-control" name="careMake" placeholder="Enter Make" required />
          </div>
          <div class="span-six">
            <label for="care-model">Model</label>
            <input type="text" id="care-model" class="form-control" name="careModel" placeholder="Enter model" required />
          </div>
          <div class="span-seven">
            <label for="care-part-no">Serial no</label>
            <input type="number" id="care-part-no" class="form-control" name="carePartNo" placeholder="Enter part no" required />
          </div>
          <div class="span-seven">
            <label for="care-quantity">Quantity</label>
            <input type="number" id="care-quantity" class="form-control" name="careQuantity" placeholder="Enter quantity" required />
          </div>

          <div class="span-full form-subheading">
            <h1>Quotation & Sales</h1>
          </div>
          <div class="span-penta">
            <label for="care-quoted">Quoted</label>
            <input type="number" id="care-quoted" class="form-control" name="careQuoted" placeholder="Enter quoted" required />
          </div>            
          <div class="span-hexa">
            <label for="care-status">Status</label>
            <input type="number" id="care-status" class="form-control" name="careStatus" placeholder="Enter status" required />
          </div>            
          <div class="span-penta">
            <label for="care-sales-person">Sales person</label>
            <input type="number" id="care-sales-person" class="form-control" name="careSalesPerson" placeholder="Enter care sales person" required />
          </div>

          <div class="span-full form-subheading">
            <h1>Quotation & Sales</h1>
          </div>
          <div class="span-half">
            <label for="care-remark">Remark</label>
            <input type="number" id="care-remark" class="form-control" name="careRemark" placeholder="Enter remark" required />
          </div>                
          <div class="span-half">
            <label for="care-remark-1">Remark 1</label>
            <input type="number" id="care-remark-1" class="form-control" name="careRemarkOne" placeholder="Enter remark 1" required />
          </div>
          
          <div class="btn-grp span-full">
            <button type="submit">Submit CareLead</button>
          </div>               
        </form>
      </div>
    </div>

    <script>
        const dateInput = document.getElementById("carelead-log-date");

        // Get today's date in YYYY-MM-DD format
        const today = new Date();
        const yyyy = today.getFullYear();
        const mm = String(today.getMonth() + 1).padStart(2, '0'); // Months are 0-based
        const dd = String(today.getDate()).padStart(2, '0');

        const formattedDate = `${yyyy}-${mm}-${dd}`;

        // Set the value of the input
        dateInput.value = formattedDate;
    </script>
    <script src="/js/common.js"></script>
  </body>
</html>