<% layout('/layout/boilerplate') %>
      <!-- The main content -->
      <div class="main-content">
        <form action="/fairdesk/form/tape" method="post" class="needs-validation" autocomplete="off" novalidate>
          <div class="span-full form-heading">
            <h1>Tape</h1>
          </div>

          <div class="span-full form-subheading">
            <h1>User Info</h1>
          </div>
          <div class="span-seven">
            <label for="tape-product-id">Product ID</label>
            <input type="text" value="FS | Tape | <%= tapeCount.toString().padStart(6, '0') + 1 %>" id="tapeproduct-id" class="form-control" name="tapeTroductId" placeholder="Enter Product ID" required />
          </div> 
           <div id="client-name-div" class="span-six">
            <div class="clientName-label"><label for="client-name">Client Name</label><span class="asterisk" style="font-size: 14px;"></span></div>
            <select name="clientName" id="client-name" class="form-control select-tag" required>
              <option value="" disabled selected hidden>Search</option>
              <% for (let client of clients) { %>
              <option value="<%= client %>"><%= client %></option>
              <% } %>
            </select>
          </div>
          <div id="user-name-div" class="span-six">
            <label for="user-name">User Name</label>
            <!-- <input type="text" id="user-name" class="form-control" name="userName" placeholder="Enter username" required /> -->
            <select name="userName" id="client-user-name" class="form-control select-tag" required>
              <option value="" selected disabled hidden>Search</option>
            </select>
          </div>
          <div id="user-name-contact-div" class="span-six">
            <label for="user-contact">User Contact</label>
            <input type="text" id="user-contact" class="form-control" name="userContact" placeholder="Enter User Contact" required />
          </div>
          <div id="client-location-div" class="span-seven">
            <label for="client-location">Location</label>
            <input type="text" id="client-location" class="form-control" name="location" placeholder="Enter Location" required />
          </div>

          <div class="span-full form-subheading">
            <h1>Product Details</h1>
          </div>

          <div class="span-seven">
            <label for="tape-paper-code">Paper Code</label>
            <input type="text" id="tape-paper-code" class="form-control" name="tapePaperCode" placeholder="Enter Paper Code" required />
          </div>
          <div class="span-six">
            <label for="tape-gsm">GSM</label>
            <input type="text" id="tape-gsm" class="form-control" name="tapeGsm" placeholder="Enter GSM" required />
          </div>
          <div class="span-six">
            <label for="tape-client-paper-code">Client Paper Code</label>
            <input type="text" id="tape-client-paper-code" class="form-control" name="tapeClientPaperCode" placeholder="Enter Client Paper Code" required />
          </div>
          <div class="span-six">
            <label for="tape-client-gsm">Client GSM</label>
            <input type="text" id="tape-client-gsm" class="form-control" name="clientTapeGsm" placeholder="Enter Client GSM" required />
          </div>
          <div class="span-seven">
            <label for="tape-width">Width</label>
            <input type="text" id="tape-width" class="form-control" name="tapeWidth" placeholder="Enter Width" required />
          </div>
          <div class="span-seven">
            <label for="tape-mtrs">MTRS</label>
            <input type="text" id="tape-mtrs" class="form-control" name="tapeMtrs" placeholder="Enter MTRS" required />
          </div>      
          <div class="span-six">
            <label for="tape-mtrs-del">MTRS Delivered</label>
            <input type="text" id="tape-mtrs-del" class="form-control" name="tapeMtrsDel" placeholder="Enter MTRS Delivered" required />
          </div>                  
          <div class="span-six">
            <label for="tape-core-id">Core ID</label>
            <!-- <input type="text" id="tape-core-id" class="form-control" name="tapeCoreId" placeholder="Enter core id" required /> -->
             <select name="tapeCoreId" id=" tape-core-id" class="form-control select-tag" required>
              <!-- <option value="" selected disabled hidden>Select </option> -->
              <option value="3">3</option>
              <option value="1">1</option>
              <option value="0.5">0.5</option>
            </select>             
          </div>
          <div class="span-six">
            <label for="tape-rate-per-roll">Rate Per Roll</label>
            <input type="text" id="tape-rate-per-roll" class="form-control" name="tapeRatePerRoll" placeholder="Enter rate per roll" required />
          </div>            
          <div class="span-seven">
            <label for="ttr-sales-cost">Sales sq mtrs Cost</label>
            <input type="text" id="tape-sale-cost" class="form-control" name="tapeSaleCost" placeholder="Enter Sales Cost" required />
          </div>           

          <div class="span-full form-subheading">
            <h1>Pricing & Order Terms</h1>
          </div>

          <div class="span-dual">
            <label for="tape-min-qty">Minimum Order QTY</label>
            <input type="text" id="tape-min-qty" class="form-control" name="tapeMinQty" placeholder="Enter minimum qty" required />
          </div>
          <div class="span-dual">
            <label for="tape-odr-qty">Order QTY</label>
            <input type="text" id="tape-odr-qty" class="form-control" name="tapeOdrQty" placeholder="Enter order qty" required />
          </div>
          <div class="span-dual">
            <label for="ttr-odr-freq">Repeat Order Freq</label>
            <input type="text" id="tape-odr-freq" class="form-control" name="tapeOdrFreq" placeholder="Enter repeat order frequecy" required />
          </div>
          <div class="span-dual">
            <label for="tape-credit-term">CR</label>
            <input type="text" id="tape-credit-term" class="form-control" name="tapeCreditTerm" placeholder="Enter credit term" required />
          </div>

          <input type="hidden" name="userId" id="user-id">          

          <div class="btn-grp span-full">
            <button type="submit">Save tape</button>
          </div>          
        </form>
      </div>

<script>
  let width = document.querySelector("#tape-width");
  let mtrs = document.querySelector("#tape-mtrs");
  let ratePerRoll = document.querySelector("#tape-rate-per-roll");
  let saleCost = document.querySelector("#tape-sale-cost");

  width.addEventListener("input", getSalesCost);
  ratePerRoll.addEventListener("input", getSalesCost);
  mtrs.addEventListener("input", getSalesCost);

  function getSalesCost() {
    let x = width.value * mtrs.value / 1000;
    let y = ratePerRoll.value / x;
    saleCost.value = y.toFixed(4);
  }
</script>