:root {
  --primary-color: #1a1a2e;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  text-wrap: none;
}

html {
  scroll-behavior: smooth;
  font-size: 12px; /* now 1rem = 14px */
}

nav {
  width: 100%;
  height: 38px;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

nav h1 {
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin: 0;
}

.contain {
  width: 100%;
  height: calc(100vh - 38px);
  background-color: #f8f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 1.4rem; */
  overflow-y: auto;
}

.side-nav {
  width: 50px;
  min-width: 50px;
  max-width: 170px;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 2px;
  background-color: var(--primary-color);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding: 4px;
  transition: all 0.3s ease-in-out;
  overflow-y: auto;
}

/* Disable animation temporarily */
.no-transition {
  transition: none !important;
}

.nav-opt-wrap {
  width: 100%;
  background-color: rgba(44, 50, 75, 0.5);
  border-radius: 0.35rem;
}

.side-nav::-webkit-scrollbar {
  width: 0;
}

.nav-panel-toggle {
  width: 194px;
}

.nav-items {
  width: 100%;
  min-width: 0;
  height: 3.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 0.35rem;
  transition: all 0.3s ease-in-out;
  padding: 12px;
  gap: 20px;
  margin: 0px 0px;
  cursor: pointer;
}

.nav-items:hover {
  background-color: #2c324b;
}

.nav-items i {
  font-size: 18px;
  text-align: center;
}

.nav-items-para {
  color: white;
  font-size: 14px;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nav-items-visible {
  display: block;
}

.main-content {
  height: 100%;
  flex: 1;
  overflow: auto;
  padding: 1rem;
}

.main-content::-webkit-scrollbar {
  width: 4px;
}
.main-content::-webkit-scrollbar-thumb {
  background-color: rgba(26, 26, 46, 0.75);
  border-radius: 6px;
}

form {
  width: 100%;
  display: grid;
  border: 2px solid var(--primary-color);
  border-radius: 0.5rem;
  grid-template-columns: repeat(32, 1fr);
  gap: 1rem;
  padding: 1rem;
}

.form-control {
  padding: 0.375rem 0.5rem;
}

select {
  width: 100%;
  height: 2.3rem;
  font-size: 1rem;
  appearance: none;
  border: 1.8px solid var(--primary-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-right: 2rem;

  background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1l5 5 5-5' stroke='%23333' stroke-width='2' fill='none'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 12px 8px;
  border-radius: 0.5rem;
  padding: 0.3rem 0.625rem;
  cursor: pointer;
}

.select-tag {
  border: 1.8px solid var(--primary-color);
}

.span-full {
  grid-column: span 32;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 0.5rem;
  gap: 0.2rem;
  font-size: 18px;
  font-weight: 500;
  border: 1px solid var(--primary-color);
  border-radius: 0.5rem;
}

.span-half {
  grid-column: span 16;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 0.5rem;
  gap: 0.2rem;
  font-size: 18px;
  font-weight: 500;
  border: 1px solid var(--primary-color);
  border-radius: 0.5rem;
}

.span-penta {
  grid-column: span 10;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 0.5rem;
  gap: 0.2rem;
  font-size: 18px;
  font-weight: 500;
  border: 1px solid var(--primary-color);
  border-radius: 0.5rem;
}

.span-hexa {
  grid-column: span 12;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 0.5rem;
  gap: 0.2rem;
  font-size: 18px;
  font-weight: 500;
  border: 1px solid var(--primary-color);
  border-radius: 0.5rem;
}

.span-dual {
  grid-column: span 8;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 0.5rem;
  gap: 0.2rem;
  font-size: 18px;
  font-weight: 500;
  border: 1px solid var(--primary-color);
  border-radius: 0.5rem;
}

.span-three {
  grid-column: span 3;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 0.5rem;
  gap: 0.2rem;
  font-size: 18px;
  font-weight: 500;
  border: 1px solid var(--primary-color);
  border-radius: 0.5rem;
}

.span-four {
  grid-column: span 4;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 0.5rem;
  gap: 0.2rem;
  font-size: 18px;
  font-weight: 500;
  border: 1px solid var(--primary-color);
  border-radius: 0.5rem;
}

.span-five {
  grid-column: span 5;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 0.5rem;
  gap: 0.2rem;
  font-size: 18px;
  font-weight: 500;
  border: 1px solid var(--primary-color);
  border-radius: 0.5rem;
}

.span-six {
  grid-column: span 6;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 0.5rem;
  gap: 0.2rem;
  font-size: 18px;
  font-weight: 500;
  border: 1px solid var(--primary-color);
  border-radius: 0.5rem;
}

.span-seven {
  grid-column: span 7;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 0.5rem;
  gap: 0.2rem;
  font-size: 18px;
  font-weight: 500;
  border: 1px solid var(--primary-color);
  border-radius: 0.5rem;
}

.span-full input {
  border: 1px solid var(--primary-color);
  border-radius: 0.5rem;
}

.span-half input {
  border: 1px solid var(--primary-color);
  border-radius: 0.5rem;
}

.span-penta input {
  border: 1px solid var(--primary-color);
  border-radius: 0.5rem;
}

.span-hexa input {
  border: 1px solid var(--primary-color);
  border-radius: 0.5rem;
}

.span-dual input {
  border: 1px solid var(--primary-color);
  border-radius: 0.5rem;
}

.span-three input {
  border: 1px solid var(--primary-color);
  border-radius: 0.5rem;
}

.span-four input {
  border: 1px solid var(--primary-color);
  border-radius: 0.5rem;
}

.span-five input {
  border: 1px solid var(--primary-color);
  border-radius: 0.5rem;
}

.span-six input {
  border: 1px solid var(--primary-color);
  border-radius: 0.5rem;
}

.span-seven input {
  border: 1px solid var(--primary-color);
  border-radius: 0.5rem;
}

.form-heading {
  border-radius: 0.5rem;
  padding: 0.5rem;
  color: white;
  background-color: var(--primary-color);
  font-size: 22px;
  justify-content: center;
  align-items: center;
}

.form-heading h1 {
  margin: 0;
  font-size: 22px;
}

.form-subheading {
  border-radius: 0.5rem;
  padding: 0.5rem 0.8rem;
  background-color: var(--primary-color);
  color: white;
  justify-content: flex-start;
  flex-direction: row;
  /* align-items: flex-start; */
}

.form-subheading h1 {
  margin: 0;
  font-size: 1.25rem;
}

.btn-grp {
  border: 2px solid var(--primary-color);
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  padding: 0.5rem;
  gap: 1.2rem;
}

.btn-grp button {
  width: 50%;
  height: 100%;
  /* color: var(--primary-color); */
  color: white;
  background-color: var(--primary-color);
  /* background-color: white; */
  font-size: 1.25rem;
  font-weight: 500;
  padding: 0.5rem 1.5rem;
  border: 2px solid var(--primary-color);
  border-radius: 0.5rem;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn-grp button:hover {
  transform: scale(0.99);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

.active {
  background-color: #2c324b;
}

/* Navigaiton panel */

.nav-care-opt {
  width: 100%;
  /* background-color: tomato; */
  height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  margin: 0;
  border-radius: 0.5rem;
  display: block;
  position: static;
  /* background-color: tomato; */
}

.nav-labels-opt {
  width: 100%;
  padding: 0 0.2rem;
  height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  border-radius: 0.5rem;
  display: block;
  position: static;
}

.nav-calc-opt {
  width: 100%;
  height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  border-radius: 0.5rem;
  display: block;
  position: static;
}

.nav-opt-height {
  height: 70px;
  transition: all 3s ease-in-out;
  /* border: 2px solid var(--primary-color); */
  border-radius: 0.5rem;
}

.nav-datasheet-height {
  height: 70px;
  transition: all 3s ease-in-out;
  /* border: 2px solid var(--primary-color); */
  border-radius: 0.5rem;
}

/* Remove the dropdown arrow from the datalist in Chrome, Edge, and Safari */
.input-tag[list]::-webkit-calendar-picker-indicator {
  display: none !important;
  -webkit-appearance: none;
}

/* Remove the dropdown arrow from the datalist in Firefox */
.input-tag[list]::-moz-list-dropdown {
  display: none;
}

/* To hide the arrow buttons in number inputs */
.input-tag[type="number"]::-webkit-outer-spin-button,
.input-tag[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Main wrapper styling */
.choices {
  width: 100%;
}

/* Control styling */
.choices__inner {
  width: 100%;
  /* height: 2.5rem; */
  border-radius: 0.5rem;
  border: 1px solid black !important;
  /* padding: 0.4rem 0.6rem; */
  padding: 0;
  font-size: 1rem;
  min-height: 0;
}

.choices__list--single {
  padding: 0.375rem 0.5rem;
}

.choices[data-type*="select-one"] .choices__inner {
  padding-bottom: 0;
}

/* Show blinking caret even after selection */
.choices__input {
  caret-color: black;
}

/* Remove dropdown arrow */
.choices[data-type*="select-one"]::after {
  display: none !important;
}

.clientName-label {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 0.2rem;
}

/* Hide arrows in Chrome, Safari, Edge */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
